<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="QLMuaBanXeMay.Properties.Settings.QLMuaBanXeMayConnectionString"
            connectionString="Data Source=DANHUYNH\SQLEXPRESS;Initial Catalog=QLMuaBanXeMay;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="QLMuaBanXeMay.Properties.Settings.QLMuaBanXeMayConnectionString1"
            connectionString="Data Source=HONGSON;Initial Catalog=QLMuaBanXeMay;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="QLMuaBanXeMay.Properties.Settings.QLXePTConnectionString"
            connectionString="Data Source=DAN\SQLEXPRESS;Initial Catalog=QLXePT;Integrated Security=True;Encrypt=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
        <add name="QLMuaBanXeMay.Properties.Settings.QLXePTConnectionString1"
            connectionString="Data Source=HONGSON;Initial Catalog=QLXePT;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="QLMuaBanXeMay.Properties.Settings.QLXePTConnectionString2"
            connectionString="Data Source=MINHTRI\SQLEXPRESS;Initial Catalog=QLXePT;Integrated Security=True;Encrypt=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>